body{
    font-family: 'Poppins', sans-serif; 
    margin: 0%;
}
h1{
    font-size: 50px;
}
.red-colour{
    color: red;
}
/* section{
    display: flex;
} */
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: -moz-radial-gradient(orange, tomatto);
    color: olive;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 5px;
}
.first-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.exprience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exprience-item{
   width: 40%;
   margin-left: 5%;
   margin-right: 5%;
   padding-left: 10px;
   border-radius: 10px;
   box-shadow: 10px 10px 40px goldenrod;   
}
#stack-developer{
    border-left: 7px solid orange;
}
#baby-developer{
    border-left: 7px solid red;
}
footer p{
    text-align: center;
}
